{% extends "base.html" %}

{% block title %}Alertas Epidemiológicos{% endblock %}

{%  block head %}<script src="https://kit.fontawesome.com/58043cd5fc.js" crossorigin="anonymous"></script>{% endblock %}

{% block style %}
a {
    text-decoration: none;
}
{% endblock %}

{%block content%}
    <h1>Alertas Epidemiológicos</h1>
    <p>O Ministério da Saúde divulga informes semanais que apresentam dados da dengue referentes aos períodos que compreendem as semanas epidemiológicas em questão.</p>
    <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/a/arboviroses/informe-semanal"><i class="fa-solid fa-stethoscope"></i> Informes Semanais</a>
{% endblock %}