{% extends "base.html" %}

{% block title %}Cuidados em Viagens{% endblock %}

{%block content%}
    <h1>Cuidados em Viagens</h1>
    <p>Se o destino for uma área com transmissão da dengue, é preciso adotar medidas de proteção individual, como utilização de repelente e uso de roupas que protejam as áreas do corpo mais expostas durante todo o período de viagem.</p>
    <p>É necessário, também, evitar que na sua residência fiquem recipientes ou materiais que possam acumular água durante o período de viagem.</p>
{% endblock %}