{% extends "base.html" %}

{% block title %}Estou com Dengue{% endblock %}

{%block content%}
    <h1>Estou com Dengue</h1>
    <p>Não existe tratamento específico para a dengue. Os cuidados terapêuticos consistem em identificar precocemente a doença e tratar os sintomas.</p>
    <p>Ao apresentar sintomas leves:</p>
    <ul>
        <li>Retire algumas horas do dia para descanso</li>
        <li>Beba líquidos</li>
        <li>Em caso de dor ou febre, utilize dipirona ou paracetamol</li>
        <li>Use repelente</li>
    </ul>
    <p>Na maioria dos casos, a cura é espontânea e ocorre em torno de dez dias. Caso apresente sinais de alarme, retorne imediatamente ao serviço de saúde.</p>
{% endblock %}