{% extends "base.html" %}

{% block title %}Notificações de Suspeitas{% endblock %}

{%block content%}
    <h1>Notificação de Suspeitas</h1>
    <p>A dengue é uma doença de notificação compulsória, ou seja, todo caso deve ser obrigatoriamente notificado ao Serviço de Vigilância Epidemiológica da Secretaria Municipal de Saúde (SMS) quando o profissional suspeitar clinicamente do caso.</p>
    <p>Todo caso suspeito de dengue atendido em unidades de saúde públicas ou privadas deve ser registrado na Ficha de Notificação/Investigação da dengue e inseridas no Sistema de Informação de Agravos de Notificação – Sinan.</p>
    <p>A notificação permitirá melhores medidas de controle ambiental ao vetor Aedes aegypti, diminuindo, então, o risco de transmissão viral.</p>
{% endblock %}